{% assign badgeData = product.metafields.judgeme.badge | json %}

{% assign averageRating = badgeData | split: "data-average-rating='" | last | split: "'" | first %}
{% assign totalRating = badgeData | split: "data-number-of-reviews='" | last | split: "'" | first %}

{% assign averageRating = averageRating | plus: 0.00 %}
{% assign totalRating = totalRating | times: 1 %}

<div class="product-ratings" {{ hide_reviews_counter}}>
  <span class="icon icon-star"></span>
 <span class="avarage-ratings"><strong>{{ averageRating }}</strong>{% if hide_reviews_counter %}<span class="total-rating">({{ totalRating }})<span>{% endif %}</span>
</div>