<!-- Start of Judge.me code --> 
  <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' style="margin-bottom:10px;"> 
    {{ product.metafields.judgeme.badge }} 
  </div> 
<!-- End of Judge.me code -->