<style>
      @media only screen and (min-width: 750px)
  {
  .js-recentPdpBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
  }
  }

  @media only screen and (max-width: 576px)
  {
      /* Code by https://websensepro.com */
    .js-recentPdpBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
  }
    .c-product img{
  height: 230px !important;
    }
  }

  .recently-title h2 {
      font-size: 24px;
      border-top: 1px solid #d2d2d2;
      padding-top: 50px;
  }
  /* .js-recentPdpBlock {
      display: flex;
      flex-wrap: wrap !important;
  } */

  .c-product{
    cursor: pointer;
  }

  .c-product img {
      height: 280px;
    width: 100%;
    object-fit: cover;
  }

  .c-product p.c-productPrice {
      line-height: 0px;
    color: #000;
  }

  .c-product h3.c-product__title {
      line-height: 0px;
      padding-bottom: 10px;
  }

  .c-product h3.c-product__title a {
      color: black;
    text-decoration: none;
  }
</style>
<section id="laber_{{ section.id }}">
  <div class="recently-title">
    <h2 class="title inline-richtext h2 scroll-trigger animate--slide-in"><b>Recently Viewed</b></h2>
  </div>
  <div class="js-recentPdpBlock"></div>
</section>
<script>
  // Third Block
  function getRecentPdp (){

      // First let's convert localStorage data into object again
      const pdpData = JSON.parse(localStorage.getItem('recently_viewed'));
      console.log(pdpData)
      // Create a empty Array
      const recentViewHtml = []
      // Loop through all the data and inject into HTML using ES6
      pdpData.forEach(function(item){ 
          recentViewHtml.push(`
              <section id="Recent">
              <div class="c-product">
                  <div class="c-product__img">
                  <a href="${item.productUrl}"><img src='${item.productImg}'/></a>
                  </div>
                  <h3 class="c-product__title">
                      <a class="c-product__url" href="${item.productUrl}">
                      ${item.productTitle}
                      </a>
                  </h3>
                  <p class="c-productPrice">${item.productPrice}</p>
              </div>
              
              
              </section>
          `)
      })
      // Now consolidate the data 
      const recentBlock = `${recentViewHtml.join('')}`
      // console.log() to check data is correct 
      console.log(recentBlock);
      // Inject into PDP page
      const contentBlock = document.querySelectorAll('.js-recentPdpBlock');
      // Push the data
      contentBlock.forEach(element =>{
          element.innerHTML = recentBlock;
      })
     
  }
  // Execute this function on DOM content load 

  getRecentPdp();
</script>

{% schema %}
  {
    "name": "Recently viewed",
    "settings": [],
    "presets":[
      {
        "name": "Recently viewed",
        "category": "Products"
      }
    ]
  }
{% endschema %}