{% style %}
.recent-card-item .c-product {
  border: 1px solid #212121;
  border-radius: 12px;
  padding: 10px;
  position: relative;
}
{% endstyle %}
<section id="laber_{{ section.id }}">
  <div class="container">
    <div class="wrap_title large">
        <h3 class="section-title alo-text-transform" style="--alo-text-transform:none">
          {{ section.settings.title }}
        </h3>
      </div>
    <div id="product-grid" class="js-recentPdpBlock product-grid row"></div>
  </div>
</section>
<script>
  // Third Block
  function getRecentPdp (){
      const pdpData = JSON.parse(localStorage.getItem('recently_viewed')).reverse();
      console.log(pdpData.length)
      const recentViewHtml = []
      pdpData.forEach(function(item,index){ 
        if(item == 4){
           return true;
        }
          recentViewHtml.push(`
              <div id="Recent-${index}" class="recent-card-item grid__item product-item laber-product-item-default">
                <div class="c-product">
                    <div class="product-image__overlay-top-left">
                      <div class="label label--sale" data-js-product-label-sale="">${item.salePercent ? '-'+item.salePercent+'%':''}</div>
                    </div>
                    <div class="c-product__img">
                    <a href="${item.productUrl}"><img src='${item.productImg}'/></a>
                    </div>
                    <div class="product-collection__content product-grid-style style_left">
                    <div class="product-collection__title">
                      <h2 class="c-product__title">
                          <a class="c-product__url" href="${item.productUrl}">
                          ${item.productTitle}
                          </a>
                      </h2>
                    </div>
                    <div class="frm-price-color">
                      <div class="product-collection__price ">
                        <span class="price price--sale" data-js-product-price="">
                            <span class="current">${item.productPrice}</span>
                            <span class="compare">${item.productCompPrice ? item.productCompPrice: ''}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          `);
      })
      const recentBlock = `${recentViewHtml.join('')}`
      const contentBlock = document.querySelectorAll('.js-recentPdpBlock');
      contentBlock.forEach(element =>{
          element.innerHTML = recentBlock;
      })
     
  }
  // Execute this function on DOM content load 

  getRecentPdp();
</script>

{% schema %}
  {
    "name": "Recently viewed",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section title",
        "default": "Recently viewed"
      }
    ],
    "presets":[
      {
        "name": "Recently viewed",
        "category": "Products"
      }
    ]
  }
{% endschema %}