.single-product-info {
    border: 1px solid #E3D6FF;
    padding: 20px !important;
    margin-top: 0;
    border-radius: 5px 0 0 5px;
    border-right: none;
  overflow: hidden;
} 


.wrap-main-slider {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.template-product .breadcrumbs {
    background: transparent;
}

.template-product .breadcrumbs .breadcrum.text_left a {
    color: #177FCA;
}

/* .navigationMenu .col-auto.vertical_menu.init {
    position: absolute;
} */
.hide-mobile.col-lg-auto.col-xs-12.col-sm-4.col-md-3.col-lg-3.sidebar.sidebar-right {
    display: none;
}
.template-product .tabs-product,
.template-product .ymm_comptbl_list{
    max-width: 80%;
}
.template-product .product-visibility-terms-container {
    margin-top: 12px;
}
.template-product .content_section {
    max-width: 80%;
}
.faq-heading {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    color: #2092E5;
}
.template-product table.ymm_table {
    border: 1px solid #ccc;
}

.image-banner-apps-block .ymm-filter {
    min-height: 20px !important;
}

.image-banner-apps-block div#ymm_searchbox {
    padding: 15px 0;
    padding-right: 15px;
    padding-left: 3px;
}


.image-banner-apps-block .dropdowns li:last-child {
    margin-right: 0;
    padding-right: 0 !important;
}

.image-banner-apps-block #ymm_searchbox ul {
    justify-content: space-between;
    margin-right: 0;
}

.image-banner-apps-block #ymm_searchbox label,
.sidebar-product label.ymm_label {
    margin-left: 4px !important;
    margin-bottom: 0 !important;
}

.image-banner-apps-block #ymm_searchbox.horizontal ul li:not(.ymm_bttns){
    border-right: 2px solid #ccc;
}
.sidebar-product #ymm_searchbox ul li {
    padding-top: 0 !important;
}
.product_infor label {
    margin-right: 5px;
}
@media only screen and (max-width:767px) {
    .template-product .tabs-product, 
    .template-product .ymm_comptbl_list,
    .template-product .content_section {
        max-width: 100%;
    }

    .laber-product-information .product-iteam {
        display: none;
    } 
}