.laber-product-information {
    border: 1px solid #E3D6FF;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
} 


.wrap-main-slider {
    border: 1px solid #ccc;
    border-radius: 5px;
}