.btn {
  padding: 8px 20px;
  border: 1px solid #DDDDDD;
  text-decoration: none;
  border-radius: 8px;
}
.text-highlight_1{
  color: var(--color-btn);
}
.sub-heading-h1 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}
.left{
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start !important;
}
.right{
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}
.center{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title-link {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.title-link svg {
    margin-left: 5px;
}
/* used in brand-list */
.brand-list .wrap-section {
    margin-bottom: 20px;
}
.brand-list .laber_append_arrows {
  position: absolute;
  right: 25px;
  top: -30px;
  opacity: 1;
}
.brand-list .slick-arrow {
    border-radius: 8px;
    height: 30px;
    width: 35px;
    color: #212121;
    background-color: transparent;
    border: 1px solid;
}
.brand-list .slick-prev {left: -50px;}
.brand-list .slick-arrow:before {
    color: #212121;
}
/* collection-carousel-product */
.product-item.slider-disabled {
    margin-bottom: 30px;
}
.product-item.slider-disabled .product-collection {
    border: 1px solid #DDDDDD;
    border-radius: 22px;
}
.search-box-area{
  padding-bottom: 15px;
}
.search-box-area .header-search {
    padding-bottom: 0;
}
.search-box-area {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.search-box-area .header-search .search_header input.search_header__input:not([type=submit]):not([type=checkbox]){
  height: 30px;
}
.search-box-area .header-search .search_header .search_header__submit{
  height: 30px;
}
.sugget.btn {
  padding: 5px 12px;
  margin-left: 10px;
  font-size: 12px;
  background-color: var(--color-btn);
}
.sugget.btn >svg {
   margin-right: 8px;
}
button.search_action {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 5px 10px;
  border: 0;
}
.image-banner-apps-block #ymm_actions .ymm_search {
  color: #000000;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--color-cart-product);
}
/* gallery */
.summary-text-main {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
span.number_counter {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0 10px;
}
span.text-summ {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}
.summary-text:not(.summary-text:last-child) {
    border-right: 1px solid #DDDDDD;
}
.button-area{
  margin-top: 30px;
}
/* testimonial */
.quote_content.style3 {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 30px 15px;
    background-color: #FFFFFF;
}
.testimonial_avatar.style3{
  text-align: -webkit-center;
}
/* Faq newsletter */
button.subcribe_btn {
  padding: 0 20px;
  width: auto;
  border: none;
  background-color: var(--color-btn);
  color: var(--color-main);
  height: 43px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (max-width: 600px){
  .image-banner-apps-block #ymm_searchbox {
    padding: 10px 10px;
    margin: 25px auto;
  }
  .image-banner-apps-block #ymm_searchbox .btn{
    min-height: 35px;
    padding: 4px 12px;
    font-size: 12px;
  }
  .image-banner-apps-block #ymm_searchbox ul{
    flex-wrap: wrap !important;
  }
  .image-banner-apps-block #ymm_searchbox label {
    font-size: 12px;
    margin: 0 0 5px;
  }
  .image-banner-apps-block #ymm_searchbox select {
    font-size: 12px;    
    min-height: 38px;    
  }
}
@media screen and (max-width: 768px){
  .summary-text-main {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px){
  .search-box-area .header-search .search_header {
    width: 330px;
  }
}