.left{
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}
.right{
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}
.center{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title-link {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.title-link svg {
    margin-left: 5px;
}