.left{
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}
.right{
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}
.center{
  text-align: center;
  justify-content: center;
  align-items: center;
}