#ymm_searchbox {
  border-radius: 90px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 40px;
}
#ymm_searchbox ul {
  justify-content: space-between;
  align-items: center;
}
#ymm_actions #ymm_reset {
  display: none;
}

#ymm_actions .ymm_search {
  background-color: var(--color-btn);
  border: transparent;
  color: #000000;
  border-radius: 8px;
}
#ymm_searchbox h2,
#ymm_searchbox label,
#ymm_searchbox select {
  color: #000000;
  background: transparent;
  border: transparent;
  padding: 0;
}
/* #ymm_searchbox select {
  min-height: 20px;
} */
#ymm-search-area {
  transform: translate(0%); /* Centering the element */
  animation: ease-in-out forwards; /* Animation */
}
#ymm_searchbox {
    max-width: 70%;
}  
.ymm_fitment_block {
    max-width: 70%;
    border: 1px solid #cccccc;
    border-radius: 45px;
    padding: 10px 35px;
    -webkit-box-shadow: -1px -1px 10px 1px rgba(204,204,204,1);
    -moz-box-shadow: -1px -1px 10px 1px rgba(204,204,204,1);
    box-shadow: -1px -1px 10px 1px #ccc;
}
#reset_ymm_fitment {
    color: #2092e5;
    background-color: transparent;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 13px;
    text-decoration: underline;
}
#reset_ymm_fitment:hover {
    background: transparent;
    color: #2092e5;
}
@media(max-width:1199px){
  #ymm_searchbox ul li:nth-child(n+3) + li.ymm_bttns {
    width: auto;
  }
}
@media only screen and (max-width:989px) and (min-width: 750px)  {
  #ymm_searchbox.horizontal ul li:not(.ymm_bttns) {
    width: 25%;
  }
  #ymm_searchbox {
    max-width: 90% !important;
  }
}
@media (max-width: 749px) {
  #ymm_searchbox {
    border-radius: 12px;
    padding: 15px 15px;
  }
  .ymm_fitment_block {
    max-width: 100%;
  }
  #ymm_searchbox {
    max-width: 100% !important;
  }
}

@media screen and(max-width:1200px){
  #ymm_searchbox {
    max-width: 100% !important;
  } 
}
